<h1 class="text-danger text-center">Welcome to MYWEB for interview</h1>
<!-- <table class="text-center table table-striped">
    <tr>
    <th><h2>Date of drives</h2></th>
    </tr>
    <tr>
      <td class="text-danger"><%= link_to "12-08-2022"%></td>  
    </tr>
    <tr>
      <td class="text-danger"><%= link_to "13-08-2022"%></td>
    </tr>
    <tr>
      <td class="text-danger"><%= link_to "14-08-2022"%></td>
    </tr>
  </table> -->