<% if user_signed_in? && current_user.user_type.upcase == "ADMIN"%>
  <% @name.each do |i|%>
  <% @a = User.find(i.user_id)%>
    <%= link_to @a.name, admin2_path(@a.id)%><br>
  <%end%>
  <h6><button type="button" class="btn btn-secondary"><%= link_to "Back", access_date_path%></button></h6>
<%end%>