<%if user_signed_in?%>
    <hr>
    First Round:<p class="text-danger"><%= @result.first%></p>
    Second Round:<p class="text-danger"><%= @result.second%></p>
    Third Round:<p class="text-danger"><%= @result.third%></p>
<hr>
<%end%>
